---
layout: page
title: PROJECTS
permalink: /projects/
---

<h3 class="leotms-page-title"> {{ page.title }} </h3>

<p>Here's a list of my favorite projects. Some of them have their source code available on my <a href="https://github.com/leotms"> GitHub Profile.</a>
</p>

{% if site.posts.size > 0 %}
  {% for post in site.posts %}
  <div class="leotms-project-list-box">
      <a href="{{ post.url }}">
        <h2 class="leotms-project-title">{{ post.title }}</h2>
      </a>
      {% if post.image %}
      <a href="{{ post.url }}">
        <img class="img-box" src="{{ site.url }}{{ post.image }}">
      </a>
      {% endif %}
      {% if post.coauthors %}
      <div class="leotms-project-theme-list">
          <p> <span>Co-Authors: </span>{{ post.coauthors }} </p>
      </div>
      {% endif %}
      {% if post.themes %}
      <div class="leotms-project-theme-list">
          <p> <span>Themes: </span>{{ post.themes }} </p>
      </div>
      {% endif %}
      {% if post.tools %}
      <div class="leotms-project-theme-list">
          <p> <span>Tools Used: </span>{{ post.tools }} </p>
      </div>
      {% endif %}
      <p class="leotms-project-description">{{ post.description }}</p>
  </div>
  {% endfor %}
  {% else %}
  <p>There are no new projects available right. Come back soon!</p>
{% endif %}
