---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "bootstrap";

@font-face {
  font-family: "OpenSansCL";
  src: url('../fonts/opensans.ttf');
}

@font-face {
  font-family: "CarroisGothic";
  src: url('../fonts/carroisgothic.ttf');
}

/* RGB */
$color_blue: #337ab7;
/* Screen Sizes */
$break-small: 992px;
$break-small-2: 692px;

.leotms-home {
  background: url('../img/homebackground.gif');
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "CarroisGothic";
  color: #FFFFFF;

  @media screen and (max-width: $break-small) {
    height: 200vh;
  }
}

.leotms-home-name {
  font-size: 50px;
}

.leotms-home-namebox {

  margin: 30vh 0 0 10vw;

  @media screen and (max-width: $break-small) {
    margin: 0;
    padding: 30vh 0 0 10vw;
    min-height: 100vh;
  }

  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
  }

  li {
    float: left;
    font-size: 20px;
  }

  li a {
      font-family: "OpenSansCL";
      display: block;
      text-align: left;
      padding-right: 15px;
      text-decoration: none;
      color: #FFFFFF;
  }

  li a:hover {
      color: $color_blue;
  }

}

.leotms-home-last-projects {

  @media screen and (max-width: $break-small) {
    min-height: 100vh;
  }

  h3 {
    color: $color_blue;
    font-size: 25px;
    font-weight: bold;
    margin: 1vh auto;
    text-align: center;
  }

  h2, p {
    text-align: center;
  }

  .leotms-home-lastest-project-box {
    margin: 5vh auto;
  }
}

.leotms-home-carousel {
  margin: 10vh auto;
  width: 70%;
  height: 50vh;

  .carousel-control.left, .carousel-control.right {
    background-image: none;
  }

  i {
    margin-top: 25vh;
  }
}

.sexy-line{
    display:block;
    border:none;
    height:1px;
    background: #FFFFFF;
    width: 90%;
    margin-top: -10px;
    margin-bottom: 5px;
}

.leotms-pages-content {
  padding: 75px 5vw;
  font-family: "OpenSansCL";
  font-size: 20px;

  .leotms-page-title {
    font-family: "CarroisGothic";
    color: $color_blue;
    font-size: 50px;
    margin: 10px 0;
  }

  p {
    text-align: justify;
    max-width: 70%;
    margin: 10px auto;
  }

  span, i {
    color: $color_blue;
  }

  i {
    margin-right: 10px;
  }

  a {
      text-decoration: none;
  }

  h2 {
    font-family: "CarroisGothic";
    color: $color_blue;
    font-size: 30px;
    margin: 20px;
  }

}

.leotms-project-content {
  @extend .leotms-pages-content;

  img {
    max-width: 80%;
  }
}

.leotms-navbar {

  background: url('../img/homebackground.gif');
  background-repeat: repeat;
  height: 60px;
  width: 100%;
  font-family: "CarroisGothic";
  color: #FFFFFF;
  display: -webkit-inline-box;
  position: fixed;
  z-index: 1;

  .leotms-home-name {
    font-size: 40px;
    margin: 15px 0 0 15px;

    @media screen and (max-width: $break-small-2) {
      font-size: 25px;
      margin: 4vh 0 0.5vh 1vh;
    }

    a {
        text-decoration: none;
        color: #FFFFFF;
    }

    a:hover {
        color: $color_blue;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
  }

  li {
    float: left;
    font-size: 20px;
    margin: 4vh 0 0.5vh 1vh;

    @media screen and (max-width: $break-small-2) {
      font-size: 15px;
      margin: 4vh 0 0.5vh 1vh;
    }
  }

  li a {
      font-family: "OpenSansCL";
      display: block;
      text-align: left;
      padding-left: 15px;
      text-decoration: none;
      color: #FFFFFF;
  }

  li a:hover {
      color: $color_blue;
  }

}

.leotms-project-list-box {

  font-family: "OpenSansCL";
  font-size: 20px;
  width: 80%;
  margin: 20px auto;

  .leotms-project-title {
    font-family: "OpenSansCL";
    color: $color_blue;
    font-size: 40px;
  }

  .img-box {
    margin: 20px 30px 0 0;
    float: left;
    background-size: auto;
    box-shadow: 1px 1px 10px #888888;
    max-width: 400px;
  }

  .leotms-project-description  {
    padding-top: 15px;
  }
}

.leotms-cv-box {
  margin: 10px auto;
  max-width: 80%;
}

.leotms-column-box {
  margin: 10px auto;
  max-width: 70%;

  p {
    margin: 10px 5%;
  }
}
